/* *{
    border: 1px solid yellow;
} */

.col-sm-8 {
}
.artist-content {
  /* line-height: 1rem; */
  text-justify: distribute;
  line-height: 1.3rem;
  font-size: small;
  text-align: justify;
}
.navbar {
  height: 50px;
}
#logo {
  height: 50px;
}
.nav-item {
  font-size: medium;
  margin: 0px 20px;
}
.navbar-nav {
  margin: auto;
}
.artist-img > img {
}
.artist-content > p > span {
  color: rgb(108, 99, 255);
  font-family: "Cedarville Cursive", cursive;
  display: block;
  float: left;
  font-size: 3rem;
}
.artist-profile {
  padding: 25px;
}
.sidebar {
  border: 5px solid white;
  border-radius: 10px;
  padding: 5px;
}

.card-title {
  text-transform: capitalize;
  font-size: medium;
}
.card {
  border: 1px solid black;
}
.card-body {
  font-size: smaller;
}
.card-text {
  text-align: center;
  font-size: small;
}
.card-body > .btn {
  font-size: small;
}
.showMore {
  height: 200px;
  border: 1px solid rgb(108, 99, 255);
  border-radius: 10px;
  padding: 10px;
}

.slider {
  position: relative;
}
.btn-back {
  position: relative;
  top: 70px;
}
.btn-next {
  position: absolute;
  top: 70px;
  right: 0px;
}
.btn {
  background-color: rgb(108, 99, 255);
}

.btn:hover {
  background-color: white;
}
footer {
  color: white;
  font-size: small;
  padding: 10px;
}

h1,
h2 {
  text-transform: capitalize;
}
.navbar {
  position: sticky;
}
